@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

header{
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    border-bottom: 1px solid black;
    width: 100%;
    z-index: 99;
    top: 0;
}

body{
    font-size: 100%;
    background: white;
    text-decoration: none;
}



.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.cabecalho-logo{
    height: 30px;
}

.cabecalho-menu{
    justify-content: space-between;
}

.cabecalho-menu ul li{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin: 15px 0 5px 0;
    font-size: 12px;
    text-decoration: none;
    color: black;
    display: inline-block;
    list-style: none;
    justify-content: space-between;
}

.cabecalho-menu ul li a{
    margin: 15px 0 5px 0;
    text-decoration: none;
    color: black;
    list-style: none;
    justify-content: space-between;
}

.cabecalho-menu ul li a:hover{
    color: #838383;
}

.conteudo {
    margin: auto;
}

.conteudo-principal {
    padding: 60px 30px 30px 30px;
    background-image: url(../img/895422.jpg);
    background-color: #838383 ;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.conteudo-principal-escrito-subtitulo{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}


.conteudo-principal-imagem{
    padding-top: 30px;
    height: 200px;
    max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.conteudo-principal-escrito-botao{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: #323232;
    font-weight: 400;
    border-radius: 20px;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    color: white;
    text-align: center;
    display: block;
    margin: auto;
}

.conteudo-principal-escrito-botao:hover {
    background-color: #838383
}

.conteudo-principal-imagem:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}


.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 20px;
}

.conteudo-secundario-titulo{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.conteudo-secundario-subtitulo{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 0 20px;
    text-align: center;
}

.servicos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;;
}

.servicos-imagem{
    height: 200px;
    padding: 20px;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}


.servicos-imagem:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.servicos-titulo-principal{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.servicos-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 0 20px;
    text-align: center;
}

.servicos-paragrafos-primeiro{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.servicos-paragrafos-segundo{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.servicos-botao{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: #323232;
    font-weight: 400;
    border-radius: 20px;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    color: white;
    text-align: center;
    display: block;
    margin: 20px ;
}

.servicos-botao:hover {
    background-color: #838383
}

.informacoes{
    background-image: url(../img/fundo-ios-apple-iphone-macbook.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
}

.informacoes-titulo{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.informacoes-subtitulo{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 20px;
    text-align: center;
}

.informacoes-maps{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    width: 100%;
    height: 100%;
}

.informacoes-escrita{
    display: flex;
    flex-direction: column;
}

.informacoes-dois{
    background-color: #E2E2E2;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    gap: 60px;
}

.contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    padding: 20px 0;
    text-align: center;
} 

.contato-escrita-titulo{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 10px;
}

.contato-escrita-paragrafo{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.contato-escrita-link{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.atendimento{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
}

.atendimento-escrita{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding-top: 5px;
}

.atendimento-escrita-paragrafo{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.rodape{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid black;
    padding: 30px 30px 10px 30px;
}

.rodape-loja{
    font-size: 12px;
    color: #aaaaaa;
}

.rodape-dev{
    font-size: 12px;
    color: #aaaaaa;
}

.sobre, .localizacao{    
    font-family: 'Poppins', sans-serif;
}

.sobre-principal{
    margin: auto;
    background-image: url(../img/line-tech.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.localizacao{
    background-image: url(../img/background-estrelas.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.localizacao-principal{
    margin: auto;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.localizacao-mapa{
    display: flex;
    align-items: center;
    width: 100%;
}

.sobre-titulo, .localizacao-titulo{
    font-size: 24px;
    font-weight: 700;
    padding: 30px 0;
}

.sobre-texto{
    margin: auto;
    display: flex;
    padding: 50px 100px 100px 100px;
    background-color: #eeeeee;
}

.localizacao-texto{
    margin: auto;
    display: flex;
    padding: 50px 100px 100px 100px;
}

.localizacao-mapa{
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.sobre-subtitulo, .localizacao-subtitulo{
    font-size: 14px;
    font-weight: 400;
}

.sobre-img{
    padding: 40px;
    flex-direction: row;
    background-color: #eeeeee;
}

.sobre-img-div{
    display: flex;
    flex-direction: row;
    height: 500px;
    justify-content: space-around;
}

.sobre-img-1, .sobre-img-2{
    background-color: #eeeeee;
    border-radius: 30px;
}

@media (min-width: 850px) {

    header{
        position: fixed !important;
    }

    .cabecalho{
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 80px;
    }

    .cabecalho-logo{
        height: 60px;
    }

    .cabecalho-menu ul li{
        font-size: 16px;
        padding: 10px;
    }

    .conteudo-principal {
        flex-direction: row;
        align-items: left;
        padding: 80px;
    }

    .conteudo-principal-escrito-titulo{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 24px;
        text-align: left;
    }
    
    .conteudo-principal-escrito-subtitulo{
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 18px;
        text-align: left;
    }
    
    
    .conteudo-principal-imagem{
        padding-top: 30px;
        height: 350px;
    }

    .conteudo-secundario {
        padding: 80px 40px;
    }


    .servicos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 60px 30px;
    }

    .servicos-imagem{
        height: 450px;
    }

    .servicos-titulo{
        padding: 20px;
    }

    .contato{
        flex-direction: row;
        text-align: left
    }

    .informacoes{
        padding-top: 60px;
    }
}